@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:auto ;
}

@font-face {
    font-family: "Medio";
    src: url("/fonts/Medio.otf") format("opentype");
  }
  
  @font-face {
    font-family: "HelmetNeue";
    src: url("/fonts/HelmetNeue.otf") format("opentype");
  }